<h1>Employee Show Page</h1><br>

First Name: <%= @employee.first_name%><br>
Last Name: <%=  @employee.last_name%><br>
Alias: <%=  @employee.alias%><br>
Title: <%= @employee.title%><br>
Office <%= @employee.office%><br>
Image <img src="#{@employee.image_url}" alt="Employees Profile Picture"><br>
Employee's Owner <%= @employee.dog.name%><br>
